:root {
  --primary-color: #0b24f5;
  --secondary-color: #ff4575;
  --decor-color-1: #eb5577;
  --decor-color-2: #2483e0;
  --decor-color-3: #6db486;
  --decor-color-4: #ffde30;
  --font-color: #333;

  --gap-xl: 128px;
  --gap-l: 128px;
  --gap-m: 64px;
  --gap-s: 64px;
  --max-width-xl: 1044px;
  --max-width-l: 75vw;
  --max-width-m: 90vw;
  --max-width-s: 90vw;

  --font-size-s: 16px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 18px;

  font-family: "Hind", sans-serif;
  font-synthesis: none;
  color: var(--font-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Hind;
  src: url(./assets/fonts/Hind-Medium.ttf);
}

h1,
h2,
h3 {
  font-family: "Montserrat";
  font-style: normal;
  line-height: normal;
}

h1 {
  color: #0b24f5;
  font-size: 32px;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

@media all and (min-width: 668px) {
  h1 {
    font-size: 56px;
  }
}

@media all and (min-width: 1024px) {
  h1,
  h2 {
    font-size: 80px;
    font-size: 80px;
  }

  h3 {
    font-size: 32px;
  }

  .project-wrapper {
    row-gap: 128px;
  }

  .project {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
