:root {
  --primary-color: #0b24f5;
  --secondary-color: #ff4575;
  --font-color: #333;

  font-family: "Hind", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-synthesis: none;
  font-size: 16px;
  text-align: left;
  color: var(--font-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Hind;
  src: url(./assets/fonts/Hind-Medium.ttf);
}

h1,
h2,
h3 {
  font-family: "Montserrat";
}

h2 {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.btn {
  display: inline-flex;
  padding-right: 16px;
  align-items: center;
  gap: 7px;
  border-radius: 40px;
  border: none;
  background: #f5f5f5;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 64px;
}

.project {
  max-width: 820px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.profile-img {
  width: 164px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 164px;
}

.project-image {
  height: 200px;
  max-width: 100%;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.tag {
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  padding: 2px 6px;
  background-color: black;
  color: white;
  height: 24px;
  vertical-align: middle;
  text-align: center;
}

.project-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

@media all and (min-width: 668px) {
  .project-image {
    height: 280px;
    width: 200px;
    object-fit: cover;
  }
}

@media all and (min-width: 1024px) {
  .project-wrapper {
    row-gap: 128px;
  }

  .project {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-image {
    height: 280px;
    width: 280px;
    object-fit: cover;
  }
}