header {
  display: flex;
  padding: 64px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

h1 {
  color: #0b24f5;
  font-size: 32px;
  font-weight: 700;
}

h1,
.pre-heading,
.desc {
  font-family: "Montserrat";
  align-self: stretch;
}

.pre-heading {
  font-weight: 600;
}

.pre-heading,
.desc {
  color: #000;
  font-size: 18px;
}

.desc {
  font-weight: 400;
}
