.project-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.project-details,
.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 24px;
  align-self: stretch;
}

.project-details {
  justify-content: space-between;
  align-self: stretch;
}

.project-info {
  gap: 16px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.project-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

@media all and (min-width: 668px) {
  .project-card {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-details {
    width: calc(96% - var(--image-width-m));
  }

  .project-btns {
    flex-direction: row;
  }
}
@media all and (min-width: 1024px) {
  .project-details {
    width: calc(96% - var(--image-width-l));
  }
}
