.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 128px 0;
  width: 100%;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  max-width: var(--max-width-s);
}

.projects h2 {
  color: var(--primary-color);
}

@media all and (min-width: 668px) {
  .projects-container {
    max-width: var(--max-width-m);
  }
}
@media all and (min-width: 1024px) {
  .projects-container {
    max-width: var(--max-width-l);
  }
}
@media all and (min-width: 1400px) {
  .projects-container {
    max-width: var(--max-width-xl);
  }
}
