.project-image {
  border-bottom: 10px solid #0025ff;
  border-left: 10px solid #0025ff;
  max-width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

@media all and (min-width: 668px) {
  .project-image {
    width: var(--image-width-m);
    aspect-ratio: 5/7;
  }
}

@media all and (min-width: 1024px) {
  .project-image {
    width: var(--image-width-l);
    aspect-ratio: 3/2;
  }
}
