section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 128px 0;
  width: 100%;
  gap: 64px;
}

.color {
  background: radial-gradient(circle,var(--decor-color-1) 10%,var(--primary-color) 90%);
  color: white;
}

.color h2 {
  color: white;
}

@media all and (min-width: 668px) {}
@media all and (min-width: 1024px) {}
@media all and (min-width: 1400px) {}