.profile-img {
  width: 164px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 164px;
}

header .profile-img {
  order: 1;
}

@media all and (min-width: 668px) {
  header .profile-img {
    order: 2;
  }
}
