footer {
  display: flex;
  padding-top: 128px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.talk-container {
  display: flex;
  width: var(--max-width-s);
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding-bottom: 128px;
}

address ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #000;
  font-family: Montserrat;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

@media all and (min-width: 668px) {
  .talk-container {
    width: var(--max-width-m);
  }
}
@media all and (min-width: 1024px) {
  .talk-container {
    width: var(--max-width-l);
  }
}
@media all and (min-width: 1400px) {
  .talk-container {
    max-width: var(--max-width-xl);
  }
}
