.skills-container {
  display: flex;
  width: var(--max-width-s);
  flex-direction: column;
  justify-content: center;
  gap: 64px;
}

@media all and (min-width: 668px) {
  .skills-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: var(--max-width-m);
  }
}

@media all and (min-width: 1024px) {
  .skills-container {
    gap: 128px;
    width: var(--max-width-l);
  }
}

@media all and (min-width: 1400px) {
  .skills-container {
    max-width: var(--max-width-xl);
  }
}
