.skills-container { 
  width: var(--max-width-s);
}

.skills-container,
.skills-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
}

@media all and (min-width: 668px) {
  .skills-container { 
    width: var(--max-width-m);
  }

  .skills-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .skills-group {
    justify-content: flex-start;
    align-items: stretch;
  }
}

@media all and (min-width: 1024px) {
  .skills-container {
    width: var(--max-width-l);
  }
}

@media all and (min-width: 1400px) {
  .skills-container {
    max-width: var(--max-width-xl);
  }
}
