h1,
h2,
h3 {
  font-family: "Montserrat";
  font-style: normal;
  line-height: normal;
}

h1 {
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: 700;
}

h2 {
  color: transparent;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  background: radial-gradient(circle,var(--decor-color-1) 10%,var(--primary-color) 90%);
  background-clip: text;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}